In [1]:
from platform import python_version
print(python_version())

3.7.13

In [2]:
from txtai.embeddings import Embeddings
import pandas as pd

In [3]:
embeddings = Embeddings({
    
    "path": "sentence-transformers/all-MiniLM-L6-v2"
})

In [4]:
df = pd.read_csv("data/shakespeare.csv")
df

,Dataline,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
0,1,Henry IV,NaN,NaN,NaN,ACT I
1,2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
2,3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
3,4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
4,5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"
...,...,...,...,...,...,...
111391,111392,A Winters Tale,38.0,5.3.180,LEONTES,"Lead us from hence, where we may leisurely"
111392,111393,A Winters Tale,38.0,5.3.181,LEONTES,Each one demand an answer to his part
111393,111394,A Winters Tale,38.0,5.3.182,LEONTES,Perform'd in this wide gap of time since first
111394,111395,A Winters Tale,38.0,5.3.183,LEONTES,We were dissever'd: hastily lead away.
111395,111396,A Winters Tale,38.0,NaN,LEONTES,Exeunt

In [5]:
data = df.PlayerLine.tolist()

In [6]:
txtai_data = []
i=0
for text in data:
    txtai_data.append((i, text, None))
    i=i+1
txtai_data[0]

(0, 'ACT I', None)

In [7]:
embeddings.index(txtai_data)

In [8]:
res = embeddings.search("knife", 10)

In [9]:
for item in res:
    print(item)

(52655, 0.6581855416297913)
(99286, 0.6503617167472839)
(53520, 0.6144242286682129)
(56185, 0.5771658420562744)
(102820, 0.5718309283256531)
(10137, 0.5698237419128418)
(57628, 0.5698237419128418)
(10139, 0.5698237419128418)
(3111, 0.5698237419128418)
(74190, 0.5598883628845215)

In [10]:
res = embeddings.search("knife", 10)
for r in res:
    print(f"Text: {data[r[0]]}")
    print(f"Similarity: {r[1]}")
    print()

Text: What means that bloody knife?
Similarity: 0.6581855416297913

Text: The knife that made it.
Similarity: 0.6503617167472839

Text: No point, with my knife.
Similarity: 0.6144242286682129

Text: That my keen knife see not the wound it makes,
Similarity: 0.5771658420562744

Text: Sheathes his sword
Similarity: 0.5718309283256531

Text: Stabbing him
Similarity: 0.5698237419128418

Text: Stabbing him
Similarity: 0.5698237419128418

Text: Stabbing him
Similarity: 0.5698237419128418

Text: Stabbing him
Similarity: 0.5698237419128418

Text: is stabbing.
Similarity: 0.5598883628845215

In [11]:
embeddings.save("models/shakespeare-index")